/*----------
    DEBUG
 ----------*/

.debug main::after {
    content: 'MOBILE';
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: black;
    color: white;
}

/*--------------------
       COMMON
--------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: lightsalmon;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--bg-grey);
    overflow: hidden;
}

.game-container {
    margin: auto;
    border: 5px solid var(--grey);
    display: grid;
    /* grid-template-columns: repeat(15, 1fr); */
    grid-gap: 0px;
    column-gap: 0;
    transition: rotate 1s;
    width: 100%;
    max-width: 360px;
    /* max-height: 900px; */
}

.box {
    /* Square Proportion */
    aspect-ratio: 1/1;
    max-width: 40px;
    background-color: lightgrey;


    /* IMG MINA */
    /* background-image: url(../../img/mine.png);
    background-repeat: no-repeat;
    background-size: 25px;
    */
    /* height: 5%;
    width: 5%; */
}

.btn {
    font-size: large;
    padding: 10px 15px;
    background-color: lightgray;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
}